body{
    background-color: black;
    font-family: 'Joan', sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin: 0 ;
}
.container{
    margin: 0 1rem;
}

h1{
    color: #FFCF86;
    text-align: center;
}
.menu-img{
    width: 100%
}
h2{
    color: #FFCF86;
    font-family: 'Inter', sans;
}
a{
    font-family: 'Inter', sans-serif;
    color: #FFC367;
    text-decoration: none;
    border: 1px solid #FFC367;
    border-radius: 10px;
    padding: 1.5em 1em;
    display: block;
    margin-bottom: 1rem;
}

landing{
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; */
}

.bold-span{
    display: block;
}
.about{
    display: flex;
    flex-direction: column;
    width: 80%; 
    margin: 0 auto;

    
}

.feature-img{
    flex-shrink: 1;
    width: 100%;
}

.menu-item{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    
}
.menu-display{
    /* border: 1px solid seagreen; */
    margin: 0 1rem;

}
.fa-cart-shopping{
    margin-left: 3rem;
    margin-right: 3rem;
    color: #FFC367;
    cursor: pointer;
    font-size: 32px;
}


@media (min-width: 934px){
    a{
        width: 35%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
    .menu-display{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .menu-img{
        width: 40%;
    }
    .about{
        /* border: 1px solid seagreen; */
        width: 38%;
        margin-left: 2rem;
        margin-right: auto;
        position: absolute;
        top: 2rem;
        left: 1rem;
    }

}

@media (min-width: 1500px){
    .about{
        /* border: 1px solid seagreen; */
        width: 20%;
        margin-left: 2rem;
        margin-right: auto;
        position: absolute;
        top: 15%;
        left: 10%;
        line-height: 2rem;
    } 
}